---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section
    class="flex justify-center items-center bg-secondary -mx-8 -mt-32 h-screen text-center"
  >
    <div class="flex flex-col items-center px-8 max-w-3xl">
      <img
        src="https://res.cloudinary.com/treasurechest/image/upload/v1747186859/timt_o37kyp.webp"
        alt="Tim Taranto portrait"
        class="shadow-2xl mx-auto mb-8 border-4 border-white rounded-full w-48 md:w-72 h-48 md:h-72 object-cover"
      />
      <p class="opacity-70 text-base tracking-widest">CEDH Grinder & Artist</p>
    </div>
  </section>

  <section class="py-16">
    <div class="mx-auto max-w-[1400px]">
      <!-- Featured content will go here -->
    </div>
  </section>
</Layout>
